*.pptx filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
/public/img/oucab/* filter=lfs diff=lfs merge=lfs -text
/public/img/oucae/* filter=lfs diff=lfs merge=lfs -text
/public/img/ouc/* filter=lfs diff=lfs merge=lfs -text
